html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e6e6e6;
}

/* Bloc */
.terminal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: green;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 9999;
    font-size: 50px;
}
  
  /* Élément */
.terminal__animation {
    /* Styles pour l'élément animation */
}
  
.terminal__animation-text {
    /* Styles pour l'élément de texte */
    text-align: left;
    position: absolute;
    bottom: 0;
    transition: transform 0.5s;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-image: url('../ressources/images/panneau-video-surveillance-18x800.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: hue-rotate(0deg) saturate(1000%) brightness(100%) contrast(100%) invert(100%) sepia(100%) saturate(5000%) hue-rotate(-45deg) brightness(150%) contrast(800%) hue-rotate(-280deg);
    overflow: hidden;
    clip-path: inset(5% 5% 5% 10%);
}

.lowerbar {
    background-color: #929292;
    height: 50px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.start-menu {
    background-color: #aaa8a8;
    height: 50px;
    width: 200px;
    left: 0;
    position: fixed;
    bottom: 0;
    background-image: url(../ressources/images/blackEyes.png);
    background-size: 100% 100%;
    image-rendering: pixelated;
}

.start-menu:hover {
    background-color: #f00;
    filter: saturate(200%);
    background-image: url('../ressources/images/redEyes.png');
}

.start-menu__dropdown {
    display: none;
    position: absolute;
    bottom: 50px;
    width: 300px;
    height: 400px;
    background-color: #8a8989;
    transition: all 0.3s ease;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

.start-menu__dropdown--show {
    display: block;
}

.start-menu__item {
    /* Styles for the dropdown menu items */
}

.icon {
    height: 75px;
    width: 75px;
    image-rendering: pixelated;
    align-items: center;
    justify-content: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 5%;
    left: 5%;
    filter: hue-rotate(-45deg) saturate(500%)
}

#iconMusic {
    position: relative;
    left: 5%;
    top: 5%;
}

#livre {
    position: relative;
    left: 15%;
}

.icon__image {
    height: 75px;
    width: 75px;
}

.icon__text {
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    font-family: 'Tahoma', sans-serif;
    -webkit-text-stroke: 0.5px black;
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
}


.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }


  @keyframes openWindow {
    0% {
      transform: scale(0) translate(0, 0);
      opacity: 0;
    }
    100% {
      transform: scale(1) translate(50%, 50%);
      opacity: 1;
    }
  }

.window {
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: #dbdbdb;
    border: 1px solid #a1a1a1;
    z-index: 50;
    display: none;
    bottom: 0; /* Positionne la fenêtre en bas */
    animation: openWindow 0.5s;
}

.window__header {
    padding: 8px;
    cursor: move;
    background-color: #f01a1a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window__close-button {
    background-color: rgb(117, 37, 37);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto; /* Déplace le bouton de fermeture vers la droite */
}

.window__content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px); /* Hauteur de la fenêtre moins la hauteur du formulaire */
    padding: 20px;
}

.message-list {
    flex: 0.6;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.message-form {
    flex-shrink: 0; /* Empêche le formulaire de message de rétrécir */
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80000px;

    
}

.message-form__input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.message-form__submit-button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.message-form__submit-button:hover {
    background-color: darkred;
}